<!-- Modal -->
<div class="modal fade" id="<%= modalId %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="<%= modalId %>">
          Comments
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Accordion to show the comments -->
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <% for (comment of comments) { %>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#comment<%= comment.comment_id %>" aria-expanded="true" aria-controls="comment<%= comment.comment_id %>">
                <%= comment.first_name %> <%= comment.last_name[0] %>
              </button>
            </h2>
            <div id="comment<%= comment.comment_id %>" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <%= comment.comment %>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        <hr />
        <!-- Text box for adding a comment-->
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" id="collection-comment-input-<%= vinylCollectionId %>"></textarea>
          <button class="btn btn-outline-secondary" type="button" onclick="addComment(<%= vinylCollectionId %>)">Comment</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>