<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/gui.css">
  <script src="https://kit.fontawesome.com/d1738f8474.js" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
  <title>Stacks Of Wax</title>
</head>

<body>
  <!-- Header -->
  <span class="border">
    <div class="header sticky-top">

      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-logo" href="/">
            <img src="/assets/SOW_Logo.png" style="width: 3cm; height:2cm;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <%- include('./nav-buttons', { memberId }) %>
          </div>
        </div>
      </nav>
      <div class="container-fluid col-2">
        <a href="/login" class="btn btn-outline-light" role="button">Login/Register</a>
        <i class="fa fa-light fa-user" style="color: #484f5b;"></i>
      </div>

      <%- include('./components/search-input') %>
    </div>
  </span>

  <!-- Main site information -->
  <div class="container-fluid padding">
    <div class="row main text-center padding">
      <div class="col-sm-3">
        <h2>Welcome <i class="fa fa-duotone fa-record-vinyl" style="--fa-primary-color: #424a57; --fa-secondary-color: #424a57;"></i></h2>
        <h4>to Stacks of Wax</h4>
        <p>
          This is a website for people who love vinyls. With this website you can share your collection
          and even follow others, a place for the vinyl community to come together.
        </p>

      </div>
      <div class="col-sm-6">
        <h2 class="display-6">Top Vinyl's</h1>
          <!-- Carousel showing top 9 vinyls -->
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <% let vinylOne = topVinyls[0].album_art %>
                <% let vinylTwo = topVinyls[1].album_art %>
                <% let vinylThree = topVinyls[2].album_art %>
                <img src="<%= vinylOne %>" class="img-thumbnail" height="300px" width="300px">
                <img src="<%= vinylTwo %>" class="img-thumbnail" height="300px" width="300px">
                <img src="<%= vinylThree %>" class="img-thumbnail" height="300px" width="300px">
              </div>
              <div class="carousel-item">
                <% let vinylFour = topVinyls[3].album_art %>
                <% let vinylFive = topVinyls[4].album_art %>
                <% let vinylSix = topVinyls[5].album_art %>
                <img src="<%= vinylFour %>" class="img-thumbnail" height="300px" width="300px">
                <img src="<%= vinylFive %>" class="img-thumbnail" height="300px" width="300px">
                <img src="<%= vinylSix %>" class="img-thumbnail" height="300px" width="300px">
              </div>
              <div class="carousel-item">
                <% let vinylSeven = topVinyls[6].album_art %>
                <% let vinylEight = topVinyls[7].album_art %>
                <% let vinylNine = topVinyls[8].album_art %>
                <img src="<%= vinylSeven %>" class="img-thumbnail" height="300px" width="300px">
                <img src="<%= vinylEight %>" class="img-thumbnail" height="300px" width="300px">
                <img src="<%= vinylNine %>" class="img-thumbnail" height="300px" width="300px">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <!-- YouTube Videos -->
          <div class="videos row nested text-center padding">
            <div class="col-sm-6 flex-wrap">
              <br>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fIwRoZJTEOo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-sm-6 flex-wrap">
              <br>
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qr860y9Pxm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
          </div>
      </div>

      <!-- Showing vinyls from current year-->
      <div class="col-sm-3">
        <h4>New Releases</h4>
        <%for (var i = 0; i < vinyls.length; i++) { %>
        <% let art = vinyls[i].album_art %>
        <% let year = vinyls[i].year %>
        <% if (year == 2023) { %>
        <img src="<%= art %>" class="img-thumbnail" height="150px" width="150px">
        <% } %>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Showing top collections -->
  <div class="container-fluid text-center padding">
    <br>
    <h1>Collection Show Case</h1>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="row">
            <%for (var j = 0; j < topRatedVinylCollections[0].vinylList.length; j++) { %> <%
                    let art = topRatedVinylCollections[0].vinylList[j].art %> <% console.log('art',
                    art) %>
            <div class="col-lg-4 flex-wrap">
              <img src="<%= art %>" class="w-100 shadow-1-strong rounded mb-4" />
            </div>
            <% } %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= topRatedVinylCollections[0].vinyl_collection_name %></h5>
            <p class="card-text">
              <%= topRatedVinylCollections[0].description %>
            </p>
            <p class="card#">Likes: <%= topRatedVinylCollections[0].like_count %></p>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <div class="row">
            <%for (var j = 0; j < topRatedVinylCollections[1].vinylList.length; j++) { %> <%
                            let art = topRatedVinylCollections[1].vinylList[j].art %> <% console.log('art',
                            art) %>
            <div class="col-lg-4 flex-wrap">
              <img src="<%= art %>" class="w-100 shadow-1-strong rounded mb-4" />
            </div>
            <% } %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= topRatedVinylCollections[1].vinyl_collection_name %></h5>
            <p class="card-text">
              <%= topRatedVinylCollections[1].description %>
            </p>
            <p class="card#">Likes: <%= topRatedVinylCollections[1].like_count %></p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <div class="row">
            <%for (var j = 0; j < topRatedVinylCollections[2].vinylList.length; j++) { %> <%
                                let art = topRatedVinylCollections[2].vinylList[j].art %> <% console.log('art',
                                art) %>
            <div class="col-lg-4 flex-wrap">
              <img src="<%= art %>" class="w-100 shadow-1-strong rounded mb-4" />
            </div>
            <% } %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= topRatedVinylCollections[2].vinyl_collection_name %></h5>
            <p class="card-text">
              <%= topRatedVinylCollections[2].description %>
            </p>
            <p class="card#">Likes: <%= topRatedVinylCollections[2].like_count %></p>
          </div>
        </div>
      </div>


      <br>
    </div>


  </div>
</body>

</html>