<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/gui.css">
  <script src="https://kit.fontawesome.com/d1738f8474.js" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
  <title>Members</title>
</head>

<body>
  <!-- Header -->
  <span class="border">
    <div class="header sticky-top">

      <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-logo" href="/">
            <img src="/assets/SOW_Logo.png" style="width: 3cm; height:2cm;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <%- include('./nav-buttons', { memberId: memberDetails.member_id }) %>
          </div>
        </div>
      </nav>
      <div class="container-fluid col-2">
        <a href="/login" class="btn btn-outline-light" role="button">Login/Register</a>
        <i class="fa fa-light fa-user" style="color: #484f5b;"></i>
      </div>

      <%- include('./components/search-input') %>
    </div>
  </span>

  <div class="container-fluid padding">
    <div class="row main text-center padding">
      <div class="col-6">
        <!-- Show details -->
        <h2>My Details</h2>
        <br>
        <p>Name : <%= memberDetails.first_name %> <%= memberDetails.last_name %></p>
        <p>Age : <%= memberDetails.age %></p>
        <p>Country : <%= memberDetails.country %></p>
        <p>Gender : <%= memberDetails.gender %></p>

        <!-- Add collection -->
        <div>
          <button data-bs-toggle="modal" data-bs-target="#addCollectionModal" type="button" class="btn btn-dark">Add a Collection</button>
        </div>


      </div>
      <!-- Display collections -->
      <div class="col-6">
        <h2>My Collections</h2>
        <%- include('./components/member-vinyl-collections', { vinylCollections, showEdit, vinyls, loggedIn }) %>
      </div>
    </div>
  </div>

  <!-- Modal for adding collections -->
  <div class="modal fade" id="addCollectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Add Collection
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            <label>Collection Name</label>
            <input type="text" value="" id="collection-name"> </input>
          </p>
          
          <p>
            <label>Description</label>
            <input type="text" value="" id="collection-description"> </input>
          </p>
          
          <p>
            <label>Vinyls</label>
            <select id="vinyl-selection-0" name="vinyl-selection" onchange="addToVinylList(this.value)">
              <option selected value> -- select an option -- </option>
              <%for (var i = 0; i < vinyls.length; i++) { %> 
                <option id="vinyl-option-<%= vinyls[i].vinyl_id %>-0" value='{ "vinylId": "<%= vinyls[i].vinyl_id %>", "album": "<%= vinyls[i].album %>", "collectionId": "0"}'><%= vinyls[i].album %></option>
              <% } %>
            </select>
          </p>
          
          <p>
            <ul id="vinyl-list-0" >

            </ul>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="clearSelection()">
            Close
          </button>
          <button class="btn btn-block btn-primary" onclick="createVinylCollection()"><i class="fa fa-regular fa-plus" style="color: #3e4551;"></i> Add</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>